#------------------------------
# ignore data file
#------------------------------
[dD][aA][tT][aA]/
*.4DD
*.4DIndx
*.4DIndy
*.Match
*.journal

#------------------------------
# ignore derived data
#------------------------------

Project/DerivedData/

#------------------------------
# ignore Logs
#------------------------------

Logs/

#------------------------------
# ignore Settings & preferences
#------------------------------

Preferences/
Settings/
userPreferences.*/

#------------------------------
# miscellaneous
#------------------------------

Thumbs.db
.DS_Store
/Resources/Cache
